/*
  some of the css code was borrowed from observium
  some from https://github.com/hexhexe/perl-greplog
*/

body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
}

ul { margin: 0px; padding: 0px; list-style: disc outside; }

#header {
    position: absolute;
    width: 99%;
}

#logo {
    position: absolute;
    top: 5px;
    right: 5%;

    padding-right: 10px;
}

#page_name {
    position:relative;
    top:25px;
    right:370px;
    text-align:right;
    vertical-align:bottom;
    font-weight:bold;
    font-size:25px;
}

#content {
    position: relative;
    top: 85px;
    width:99%;
    padding-bottom:10px;
    border-bottom:1px solid #ccc;
}

#navigationbar {
    position: relative;
    width: 99%;
    top:15px;
}

#navigation {
  position: absolute;
  top: 15px;
  list-style:none;
  margin:0px auto 0px auto;

  height:38px;
  width: 99%;

  /* Rounded Corners */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  /* Gradient background */
  background:#DDD;
  background: -moz-linear-gradient(top, #FBFBFB, #DDD);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FBFBFB), to(#DDD));
  background: -ms-linear-gradient(top, #FBFBFB, #DDD);
  background: -webkit-linear-gradient(top, #FBFBFB, #DDD);

  /* Borders */

  border: 1px solid #aaaaaa;

  -moz-box-shadow:inset 0px 0px 1px #edf9ff;
  -webkit-box-shadow:inset 0px 0px 1px #edf9ff;
  box-shadow:inset 0px 0px 1px #edf9ff;
}

#navigation li {
  min-width: 80px;
  float:left;
  text-align:center;
  position:relative;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;

  margin:3px 0px 5px 5px;
  border:none;
#  background:#EEEEEE;
}

#navigation li:hover {
  z-index: 100;
  border: 1px solid #aaa;
  border-bottom: 1px solid #FBFBFB;

  padding-left: 9px;
  padding-right: 9px;
  padding-top: 1px;
  padding-bottom: 1px;

  margin-bottom: -5px;

  /* Gradient background */
  background:#EEEEEE;
  background: -moz-linear-gradient(top, #DDDDDD, #EEEEEE);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDDDDD), to(#EEEEEE));
  background: -ms-linear-gradient(top, #DDDDDD, #EEEEEE);
  background: -webkit-linear-gradient(top, #DDDDDD, #EEEEEE);

  /* Rounded corners */
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
}

#navigation li a {
  font-weight: bold;
  font-size:13px;
  color: #5e5e5e;
  display:block;
  outline:0;
  text-decoration:none;
  #text-shadow: 1px 1px 1px #000;
}

#navigation li:hover a {
  color:#029feb;
  #text-shadow: 1px 1px 1px #FFFFFF;
}

.icontext {
    position: relative;
    vertical-align: center;
}

#page_title {
    width: 95%;
    font-weight:bold;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#page_title:hover {
    overflow: visible;
    white-space:normal;
    text-wrap:normal;
}

.graphhead {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #aaa;
  border-spacing: 0px 0px 12px 0px;
  padding-top: 10px;
  width:99%;
  //color: #cccccc;
  font-weight:bold;
  //text-shadow: 0px 1px 1px #000;
  margin-top: 20px;
  text-align:left;
}

.graphdata {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.graph {
  vertical-align: top;
  padding: 10px;
  box-shadow: 10px 10px 5px #888;
}

/*
input {
    -moz-border-radius: 35px;
    border-radius: 35px;
    border-width: 2px;
    border-style: solid;
    border-color: #ddd;
    margin: 2px;
}
*/

::input-placeholder {
    color: #000;
}

::-webkit-input-placeholder {
   color: #000;
}

:-moz-placeholder {
   color: #000;
}

:-ms-input-placeholder {
   color: #000;
}

::input-placeholder:focus {
    content: "";
}

::-webkit-input-placeholder:focus {
    content: "";
}

:-moz-placeholder:focus {
    content: "";
}

:-ms-input-placeholder:focus {
    content: "";
}

input:focus {
    box-shadow: 0 0 10px #5e5e5e;
}

#device_list {
    margin: 10px;
    padding: 10px;
    list-style: none;
}

#device_list li {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #aaa;
  border-spacing: 0px 0px 12px 0px;
  padding-top: 10px;
  width:99%;

    margin: 5px;
    padding: 5px;
}

#device_list li:hover {
    background: #ddd;
}

#graphdetail_timeform {
    margin: 10px;
    padding: 10px;
}

#controlpanel {
    margin: 10px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #000000;
}

h {
    margin-right: 10px;
    padding-right: 10px;
}

.important {
    font-weight: bold;
}

.disclaimer_topic {
    color: #ccc;
    font-weight: bold;
}

#footer {
    position: relative;
    bottom: 0px;
    padding-top:95px;
    width:95%;
    color: #666;
    font-size: 8pt;
    text-align:left;
}

#footer a {
    color: #666;
}

.help_box:hover:after,
.help_box:focus:after
{
    content: attr(title);
    display: block;
    text-align: justify;
    width: 50%;
}