{% extends "base.html" %}
{% block content %}
<p class='graphhead'>{{ _('Control panel') }}</p>
<p>
  <form action="#" method="POST">
    <label for="type_filter">{{ _('Data sources') }}</label> <input type="text" name="type_filter" id="type_filter" value="{{ type_filter }}" title="{{ _('units_input_help') }}"/> <input type="submit" value=" Ok "/>
  </form>
</p>

    {% for plugin, types in plugins.iteritems() %}
        <p class="graphhead">{{plugin}}</p>
        <ul id='device_list'>
        {% for type_name, device_list in types.iteritems()|sort %}
           <a href="{{url_for('detail',
		    graph_device=device_list,
		    graph_plugin=plugin,
		    graph_type=type_name,
		    time_from=time_from,
		    time_to=time_to,
                    graph_mode='multi-line')}}">
              <li>
		<img src="/static/images/data_source.png"/>{{type_name}} -&gt; {{type_name|translate}}
	      </li>
	   </a>
        {% endfor %}
	</ul>
    {% endfor %}
{% endblock %}
