{% extends "base.html" %}
{% block content %}
<p id="page_title">Disclaimer</p>

<p class="important">General legal information</p>

<p class="disclaimer_topic">Liability</p>

<p>Although ETH Zurich takes all possible care to ensure the correctness of published information, no warranty can be accepted regarding the correctness, accuracy, uptodateness, reliability and completeness of the content of this information.</p>

<p>ETH Zurich expressly reserves the right to change, to delete or temporarily not to publish the contents wholly or partly at any time and without giving notice.</p>

<p>Liability claims against ETH Zurich because of tangible or intangible damage arising from accessing, using or not using the published information, through misuse of the connection or as a result of technical breakdowns are excluded.</p>

<p>ETH Zurich has not checked third party web sites, i.e. web sites not located on its servers or in its area of influence, that may be connected to this web site via links, and does not accept any responsibility for the contents or the services offered thereon.</p>

<p class="disclaimer_topic">Copyright</p>

<p>All code is copyrighted under the GNU general public license version 3.</p>

<p>The citation of the documents and web pages with a correct statement of the source and the setting of links to our web site is expressly allowed. ETH is a registered trademark of ETH Zurich in Switzerland.</p>
{% endblock %}
